<!-- src/app/sustainable-actions/components/actions-create-and-edit/actions-create-and-edit.component.html -->
<div class="modal-backdrop" (click)="onCloseClick()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close-button" (click)="onCloseClick()">✕</button>
    <h2 class="modal-title">{{ 'sustainableActions.addTitle' | translate }}</h2>
    <form (ngSubmit)="submitForm()" class="modal-form">
      <div class="form-group">
        <label class="form-label" for="modalTitle">{{ 'sustainableActions.titleLabel' | translate }}:</label>
        <input type="text" id="modalTitle" [(ngModel)]="action.title" name="title" [placeholder]="'sustainableActions.titlePlaceholder' | translate" required>
      </div>

      <div class="form-group">
        <label class="form-label" for="modalDescription">{{ 'sustainableActions.descriptionLabel' | translate }}:</label>
        <textarea id="modalDescription" [(ngModel)]="action.description" name="description" [placeholder]="'sustainableActions.descriptionPlaceholder' | translate" required></textarea>
      </div>

      <div class="form-group">
        <label class="form-label" for="modalType">{{ 'sustainableActions.categoryLabel' | translate }}:</label>
        <select id="modalType" [(ngModel)]="action.type" name="type" required>
          <option value="">{{ 'sustainableActions.selectType' | translate }}</option>

          <option value="STORAGE">{{ 'sustainableActions.typeStorage' | translate }}</option>
          <option value="OPERATIONAL">{{ 'sustainableActions.typeOperational' | translate }}</option>
          <option value="REGULATION">{{ 'sustainableActions.typeRegulation' | translate }}</option>
        </select>
      </div>

      <button type="submit" class="submit-button">{{ 'sustainableActions.saveButton' | translate }}</button>
    </form>
  </div>
</div>
