.waste-management-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button{
  cursor: pointer;
}

.waste-management-container .search-times{
  display: flex;
  justify-content: space-between;
  padding: 10px;

  mat-select{
    border-radius: 10px;
    padding: 5px 2px 2px;
    height: 25px;
    width: 35%;
    border: none;
    color: #ffffff;
    background: #0000007a;
    text-align: center;
    vertical-align: middle!important;
  }
}

.alerts-container{
  background: #FFF0E9;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  li{
    list-style: none;
  }
}


.store-content{
  padding: 10px;
  overflow-y: auto;
  max-height: 350px;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
}

.store-content-item {
  position: relative;
  background: #ffffff;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: 10px 0;
  li{
    list-style: none;
    margin: 0 0 0 -15px;
  }
  .store-wastes-list{
    font-size: 10px;
  }
}

span.sphere-decing{
  /*background: #00A295;*/
  position: absolute;
  left: 10%;
  top: 15%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

canvas {
  max-width: 100%;
}

