
.delete-sensor-form-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}

.delete-sensor-form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 10px;
  border-radius: 20px;
  width: 1000px;
  text-align: center;
  animation: animation-panels 0.5s ease-in-out;


  .form-group{
    align-items: center;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  ul{
    list-style: none;
  }

  input{
    padding: 5px;
    margin-top: -10px!important;
    width: 15rem;
    border: none;
    border-radius: 10px;
    background: #D9F2EF;
  }
  input:focus{
    outline: none;
  }

  .mat-icon{
    position: absolute;
    top: 5%;
    right: 2.5%;
    cursor: pointer;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
  }
}

.sensor-list-item-container{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 98%;
  align-items: center;
}



@keyframes animation-panels {
  0%{
    transform: scale(0)
  }
  100%{
    transform: scale(1)
  }
}

.bring-to-front{
  display: block;
}

.delete-sensor-button{
  background: #00A295;
  color: #ffffff;
  border: none;
  width: 124px;
  height: 30px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.return-to-hide{
  display: none;
}
