<div #formAddSensor class="add-sensor-form-container return-to-hide ">
  <form class="add-sensor-form">
    <h4>{{ "controlPanel.add-sensor" | translate }}</h4> <br>
    <mat-icon (click)="cancelAddNewSensor()">close</mat-icon>
    <div class="form-group">
      <label for="type-waste">{{ "controlPanel.type-waste" | translate }}</label>
      <input id="type-waste" type="text" class="name-zone">
    </div>
    <div class="form-group">
        <label for="ubication">{{ "controlPanel.ubication" | translate }}</label>
      <input id="ubication" type="text" class="ubication-sensor">
    </div>
    <div class="form-group">
      <label for="unities-sensor">{{ "controlPanel.unities" | translate }}</label>
      <input id="unities-sensor" type="text" class="num-sensor-sensor">
    </div>
    <br>
    <button type="button" class="add-sensor-button" role="button" (click)="implementSensor()">{{ "controlPanel.register" | translate }}</button>
    <br>
  </form>
</div>
