<div class="modal-backdrop">
  <div class="modal-box">
    <button class="close-button" (click)="close.emit()">✕</button>
    <h2>{{ 'sustainableActions.addTitle' | translate }}</h2>
    <form (ngSubmit)="submitForm()" class="modal-form">
      <input type="text" [(ngModel)]="action.title" name="title" [placeholder]="'sustainableActions.titlePlaceholder' | translate" required />
      <textarea [(ngModel)]="action.description" name="description" [placeholder]="'sustainableActions.descriptionPlaceholder' | translate" required></textarea>
      <select [(ngModel)]="action.type" name="type" required>
        <option value="">{{ 'sustainableActions.selectType' | translate }}</option>
        <option value="almacenamiento">{{ 'sustainableActions.typeStorage' | translate }}</option>
        <option value="mejora operativa">{{ 'sustainableActions.typeOperational' | translate }}</option>
        <option value="normativas">{{ 'sustainableActions.typeRegulation' | translate }}</option>
      </select>
      <button type="submit" class="save-button">{{ 'sustainableActions.saveButton' | translate }}</button>
    </form>
  </div>
</div>
