<mat-sidenav-container [ngClass]="{ 'sidenav-open': isSidenavOpen, 'sidenav-closed': !isSidenavOpen }">
  <mat-sidenav #sidenav style="background-color: #00A295;">
    <mat-nav-list>
      <img class="logo-cleanview" src="Group 384.png" alt="Logo" style="height: 40px; margin-left: 10px;">

      <ng-container *ngFor="let option of otherOptions">
        <mat-list-item
          (click)="setActiveOption(option.title); sidenav.mode === 'over' && sidenav.toggle()"
          [routerLink]="option.path" [ngClass]="{ 'active-option': activeOption === option.title }">

          <ng-container *ngIf="option.icon.startsWith('http'); else materialIcon">
            <img [src]="option.icon" alt="{{ option.title | translate }} icon" width="24px" height="24px">
          </ng-container>
          <ng-template #materialIcon>
            <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
          </ng-template>
          <span>{{ option.title | translate }}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [ngClass]="{ 'sidenav-open-bar': isSidenavOpen, 'sidenav-closed-bar': !isSidenavOpen }">
      <button mat-icon-button (click)="toggleSidenav()" >
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        <mat-icon *ngIf="!sidenav.opened" style="color: white;">apps</mat-icon>
      </button>

      <a mat-button [routerLink]="['/project']" style="margin-left: 20px; color: white;">
        {{ activeOption ? (activeOption | translate) : ('Project' | translate) }}
      </a>

      <span class="mat-spacer"></span>

      <!-- *** ¡CAMBIO CLAVE: Lógica para mostrar/ocultar botones de auth/logout! *** -->
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedInButtons">
        <button mat-button color="accent" (click)="onSignIn()">
          {{ 'auth.signIn' | translate }}
        </button>
        <button mat-button color="primary" (click)="onSignUp()">
          {{ 'auth.signUp' | translate }}
        </button>
      </ng-container>

      <ng-template #loggedInButtons>
        <mat-icon class="user-icon" style="color: white;">account_circle</mat-icon>
        <button mat-button color="warn" (click)="onLogout()">
          {{ 'auth.logout' | translate }}
        </button>
      </ng-template>


      <app-language-switcher style="color: white;"></app-language-switcher>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
