<div class="modal-content">
  <h2>{{ 'newPointTitle' | translate }}</h2>
  <form [formGroup]="addPointForm" (ngSubmit)="onSubmit()">

    <div class="form-map-container">

      <div class="form-column">
        <!-- Todos los campos dentro de esta columna -->
        <mat-form-field appearance="fill">
          <mat-label>{{ 'nameLabel' | translate }}</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'scheduleLabel' | translate }}</mat-label>
          <input matInput formControlName="schedule" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'phoneLabel' | translate }}</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'materialsLabel' | translate }}</mat-label>
          <input matInput formControlName="materials" />
        </mat-form-field>
      </div>

      <div class="map-column">
        <label><strong>{{ 'selectLocationLabel' | translate }}</strong></label>
        <div id="modal-map"></div>
        <p class="map-coords">
          {{ 'latitudeLabel' | translate }}: {{ addPointForm.get('lat')?.value }},
          {{ 'longitudeLabel' | translate }}: {{ addPointForm.get('lng')?.value }}
        </p>
      </div>

    </div>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()">
        {{ 'cancelButton' | translate }}
      </button>
      <button mat-flat-button color="primary" type="submit">
        {{ 'saveButton' | translate }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
