<div class="modal-content">
  <h2>Nuevo Punto de Acopio</h2>
  <form [formGroup]="addPointForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Horario</mat-label>
      <input matInput formControlName="schedule">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Materiales (separados por coma)</mat-label>
      <input matInput formControlName="materials">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Latitud</mat-label>
      <input matInput type="number" formControlName="lat">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Longitud</mat-label>
      <input matInput type="number" formControlName="lng">
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</div>
