:host {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: url('../../../../../public/img.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  box-sizing: border-box;
  z-index: 500;
  margin-top: 64px;
}

.login-box {
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 1000px;
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #000000;
}

.login-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-group select {
  cursor: pointer;
  color: #000000;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #ccc;
}

.login-btn {
  background: #fff;
  color: #333;
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #ddd;
}

.signup-text {
  text-align: center;
  font-size: 0.85rem;
}

.signup-link {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

::placeholder {
  color: #000000;
  opacity: 1;
}
