<div class="tips-list-component">
<div class="tips-header">
  <h2>{{ 'sustainableActions.featuredTips' | translate }}</h2>
  <div class="filters">
    <button (click)="onFilter('')">{{ 'sustainableActions.all' | translate }}</button>
    <button (click)="onFilter('almacenamiento')">{{ 'sustainableActions.typeStorage' | translate }}</button>
    <button (click)="onFilter('mejora operativa')">{{ 'sustainableActions.typeOperational' | translate }}</button>
    <button (click)="onFilter('normativas')">{{ 'sustainableActions.typeRegulation' | translate }}</button>
  </div>
</div>

<div class="search-bar">
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" [placeholder]="'sustainableActions.searchPlaceholder' | translate">
</div>

<div class="tips-list">
  <app-tips-card
    *ngFor="let action of filteredActions"
    [action]="action"
    (toggleFavorite)="toggleFavorite($event)"
    (delete)="deleteAction($event)">
  </app-tips-card>
</div>
</div>
