<div class="container">
  <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Buscar por título...">

  <div class="filters">
    <button (click)="onFilter('')">Todos</button>
    <button (click)="onFilter('almacenamiento')">Almacenamiento</button>
    <button (click)="onFilter('mejora operativa')">Mejora Operativa</button>
    <button (click)="onFilter('normativas')">Normativa</button>
  </div>

  <app-tips-card
    *ngFor="let action of filteredActions"
    [action]="action"
    (toggleFavorite)="toggleFavorite($event)"
    (delete)="deleteAction($event)">
  </app-tips-card>
</div>
